@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
html {
  min-height: 100%;
  position: relative;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 100%;
}
span {
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
#display {
  background-color: #eee;
  color: #212121;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 33vh;
  min-height: 160px;
  z-index: 1000;
  padding: 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  #display {
    min-height: 240px;
  }
}
#display .hidden-calculation {
  display: none;
}
#display .latest-calculation {
  text-align: right;
  padding: 16px;
}
@media (min-width: 768px) {
  #display .latest-calculation {
    padding: 32px;
  }
}
#display .result {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 16px;
}
@media (min-width: 768px) {
  #display .result {
    padding: 32px;
  }
}
#display .result h1 {
  margin: 0;
}
#display .result h1 .equals {
  display: none;
  position: absolute;
  left: 16px;
}
#display .result h1 .close-bracket {
  color: #bdbdbd;
}
#keys {
  background-color: #424242;
  color: #fafafa;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#keys div {
  float: left;
  height: 67vh;
  min-height: 328px;
  width: 25%;
}
#keys div span {
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#keys .grey800 {
  background-color: #424242;
  width: 25%;
}
@media (min-width: 768px) {
  #keys .grey800 {
    width: 26%;
  }
}
#keys .grey800 span {
  font-size: 24px;
  height: 25%;
  padding: 29px 0;
}
@media (min-width: 768px) {
  #keys .grey800 span {
    font-size: 30px;
  }
}
#keys .grey700 {
  background-color: #616161;
  width: 23%;
}
@media (min-width: 768px) {
  #keys .grey700 {
    width: 22%;
  }
}
#keys .grey700 span {
  font-size: 16px;
  height: 20%;
  padding: 24px 0;
}
@media (min-width: 768px) {
  #keys .grey700 span {
    font-size: 18px;
  }
}
#keys .yellowA600 {
  background-color: #ffd600;
  width: 2%;
}
@media (min-width: 768px) {
  #keys .yellowA600 {
    display: none;
  }
}
#keys-extended {
  background-color: #ffd600;
  color: #212121;
  height: 67vh;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#keys-extended div {
  background-color: #ffd600;
  float: left;
  height: 80%;
  min-height: 262px;
  width: 33.3%;
}
#keys-extended div span {
  font-size: 16px;
  height: 25%;
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 24px;
}
@media (min-width: 768px) {
  #keys-extended div span {
    font-size: 18px;
  }
}
#keys-extended .bomholt {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  width: 100%;
  height: 20%;
  min-height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 26px;
}
#keys-extended .bomholt a {
  color: #a38900;
  margin-top: 5px;
}
#keys-extended .bomholt a:hover {
  color: #a38900;
  text-decoration: none;
}
#keys-extended .bomholt a .fa-lg {
  vertical-align: text-top;
  margin-right: 4px;
}
