*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 16px;
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100vh;
}
#editor,
#preview {
  width: 100%;
  height: 50%;
  overflow: auto;
}
@media only screen and (min-width: 992px) {
  .wrapper {
    flex-direction: row;
  }
  #editor,
  #preview {
    width: 50%;
    height: 100%;
    overflow: auto;
  }
}
#editor {
  box-shadow: 0px -2px 4px 4px rgba(40, 42, 54, 0.6);
}
@media only screen and (min-width: 992px) {
  #editor {
    box-shadow: -2px 0px 4px 4px rgba(40, 42, 54, 0.6);
  }
}
#preview {
  padding: 16px;
  font-family: "PT Sans", sans-serif;
}
#preview code {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  white-space: nowrap;
}
#preview pre {
  margin: 15px 0;
  padding: 6px 10px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
}
#preview pre code {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  white-space: pre;
}
#preview img {
  width: 100%;
}
