body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  background-color: #fafafa;
}
input[type='text']:focus + label,
input[type='number']:focus + label,
input[type='email']:focus + label {
  color: #607d8b !important;
}
input[type='text']:focus,
input[type='number']:focus,
input[type='email']:focus {
  border-bottom: 1px solid #607d8b !important;
  box-shadow: 0 1px 0 0 #607d8b !important;
}
.dropdown-content li > span {
  color: #607d8b;
}
[type='radio']:checked + span:after {
  border: 2px solid #607d8b;
  background-color: #607d8b;
}
textarea.materialize-textarea:focus {
  border-bottom: 1px solid #607d8b !important;
  box-shadow: 0 1px 0 0 #607d8b !important;
}
[type='checkbox'].filled-in:checked + span:not(.lever):after {
  border: 2px solid #607d8b;
  background-color: #607d8b;
}
.ribbon {
  background-color: #3f51b5;
  flex-shrink: 0;
  height: 42vh;
  width: 100%;
}
.card {
  flex-shrink: 0;
  margin: -35vh 0 3rem;
}
.card #title {
  font-size: 1.875rem;
  margin: 1.5rem 0.75rem 0;
}
.card #description {
  font-size: 0.875rem;
  margin: 0.5rem 0.75rem 1rem;
}
.card h5 {
  color: #e91e63;
  font-size: 1.25rem;
  margin: 1.5rem 0.75rem;
  border-bottom: 2px solid #e91e63;
}
.card #questions p {
  font-size: 1rem;
}
.card #questions div {
  margin: 0.75rem 0 1.25rem;
}
.card #questions .radio-input {
  font-size: 1rem;
  height: unset;
  margin: 0;
}
.card #questions .input-field.inline input {
  font-size: 1rem;
  height: 2rem;
  margin-bottom: 0.25rem;
}
.card #questions .materialize-textarea {
  font-size: 1rem;
  margin: 0;
}
.card #agreement a {
  color: #607d8b;
  text-decoration: underline;
}
.card #agreement button {
  background-color: #607d8b;
  margin-top: 1.75rem;
}
footer {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  height: 42px;
  width: 100%;
  text-align: center;
}
footer a {
  color: #9e9e9e;
  font-size: 0.875rem;
  line-height: 42px;
  position: relative;
  top: 2px;
}
footer a:focus,
footer a:hover,
footer a:visited {
  color: #9e9e9e;
}
footer a svg {
  margin-right: 0.3125rem;
  vertical-align: text-bottom !important;
}
