@-webkit-keyframes blink {
  0% {
    opacity: 0.6;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes blink {
  0% {
    opacity: 0.6;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
::-moz-selection {
  background: transparent;
}
::selection {
  background: transparent;
}

html, body {
  background-color: #eceff1;
  height: 100%;
}

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
          flex: 1 0 auto;
  margin: 15px 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

a:focus, a:hover, a:visited {
  text-decoration: none;
}

.slick-slide {
  outline: none;
}

.card {
  font-family: "Open Sans", sans-serif;
  width: 630px;
}
.card .card-header {
  background-color: #009688;
  color: #fff;
  padding: 1.25rem;
  border-radius: 0.25rem 0.25rem 0 0;
}
.card .card-header #location span {
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  font-size: 2.25rem;
}
.card .card-header #location span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.card .card-header #location span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.card .card-header #time, .card .card-header #summary {
  color: rgba(255, 255, 255, 0.75);
  margin: 5px 0;
}
.card .card-header .temp {
  display: inline-block;
  padding: 3.5rem 0 2.5rem;
}
@media (min-width: 375px) {
  .card .card-header .temp {
    padding: 4rem 0 3rem;
  }
}
.card .card-header .temp #temperature {
  display: inline-block;
  font-size: 4rem;
  line-height: 0.9;
  margin-right: 5px;
  vertical-align: middle;
}
@media (min-width: 375px) {
  .card .card-header .temp #temperature {
    font-size: 4.5rem;
  }
}
.card .card-header .temp #unit1, .card .card-header .temp p, .card .card-header .temp #unit2 {
  display: inline-block;
  font-size: 1.25rem;
  vertical-align: top;
}
@media (min-width: 375px) {
  .card .card-header .temp #unit1, .card .card-header .temp p, .card .card-header .temp #unit2 {
    font-size: 1.375rem;
  }
}
.card .card-header .temp #unit1 {
  font-weight: 600;
}
.card .card-header .temp p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  margin: 0 5px;
}
.card .card-header .temp #unit2 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}
.card .card-header .temp #unit2:hover {
  cursor: pointer;
  text-decoration: none;
}
.card .card-header #icon {
  display: inline-block;
  font-size: 80px;
  float: right;
  margin: 0;
}
@media (min-width: 375px) {
  .card .card-header #icon {
    font-size: 100px;
  }
}
@media (min-width: 425px) {
  .card .card-header #icon {
    font-size: 120px;
    margin: -15px 30px 0 0;
  }
}
@media (min-width: 475px) {
  .card .card-header #icon {
    margin: -30px 60px 0 0;
  }
}
@media (min-width: 576px) {
  .card .card-header #icon {
    font-size: 140px;
  }
}
@media (min-width: 768px) {
  .card .card-header #icon {
    font-size: 160px;
    margin: -45px 90px 0 0;
  }
}
.card .card-header .precip .precip-icon {
  display: inline-block;
  font-size: 1.25rem;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}
.card .card-header .precip #precipitation {
  display: inline-block;
  margin-left: 15px;
}
.card .card-header .wind .wind-icon {
  display: inline-block;
  font-size: 1.25rem;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}
.card .card-header .wind #windspeed {
  display: inline-block;
  margin-left: 15px;
}
.card .card-body #carousel {
  font-size: 0.9375rem;
  padding: 10px 0 20px 0;
}
.card .card-body #carousel div p {
  color: #616161;
  margin: 0;
}
.card .card-body #carousel div i {
  color: #424242;
  font-size: 20px;
  padding: 15px 0 10px;
}
.card .card-body #carousel .tempMax p, .card .card-body #carousel .tempMax span {
  color: #616161;
  display: inline-block;
  margin: 0;
}
.card .card-body #carousel .tempMin p, .card .card-body #carousel .tempMin span {
  color: #9e9e9e;
  display: inline-block;
  margin: 0;
}
.card .card-link {
  color: #9e9e9e;
  font-size: 0.75rem;
}

footer {
  background-color: #e1e5e9;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 42px;
  width: 100%;
}
footer a {
  color: #708396;
  font-size: 0.875rem;
  line-height: 42px;
  position: relative;
  top: 2px;
}
footer a:focus, footer a:hover, footer a:visited {
  color: #708396;
}
footer a svg {
  margin-right: 0.3125rem;
  vertical-align: text-bottom !important;
}