@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:500');
html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: #e77d68;
  margin-bottom: 42px;
}
@media (min-width: 768px) {
  body {
    margin-bottom: 57px;
    margin-top: 15px;
  }
}
a:focus,
a:hover,
a:visited {
  text-decoration: none;
}
.duh {
  background-clip: padding-box;
  background-color: transparent;
  box-sizing: border-box;
  margin: 42px auto 0;
  max-width: 420px;
}
@media (min-width: 768px) {
  .duh {
    margin-top: 110px;
  }
}
.duh img {
  background-clip: padding-box;
  position: relative;
}
.social-icons {
  text-align: center;
  margin-bottom: 57px;
}
@media (min-width: 768px) {
  .social-icons {
    margin-bottom: 0;
  }
}
.social-icons ul {
  font-size: 0;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.social-icons ul li {
  display: inline;
  padding: 0 8px;
}
.social-icons ul li a {
  color: #fade4b;
  fill: #fade4b;
}
.social-icons ul li a svg {
  position: relative;
  height: 40px;
  width: 40px;
}
.social-icons ul li a svg:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.card {
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 3px 3px 2px 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 15px auto;
  max-width: 420px;
}
.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
}
.card .card-image h3 {
  padding: 0px 16px;
}
.card .card-content {
  background-clip: padding-box;
  box-sizing: border-box;
  padding: 8px 16px 16px 16px;
}
.card .card-content p {
  color: inherit;
  margin: 0;
}
.card .card-actions {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-actions a {
  color: #4c69af;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.card .card-actions a:hover {
  color: #4c69af;
}
footer {
  background-color: #cc6e5c;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  height: 42px;
  position: absolute;
  width: 100%;
  text-align: center;
}
footer a {
  color: #f2dbd6;
  line-height: 42px;
  position: relative;
  top: 2px;
}
footer a:focus {
  color: #f2dbd6;
}
footer a:hover {
  color: #f2dbd6;
}
footer a:visited {
  color: #f2dbd6;
}
footer a .fa-lg {
  vertical-align: text-top;
  margin-right: 4px;
}
