@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:500');
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
.featured-md-8 {
  padding: 28px 15px 0 15px;
}
@media (min-width: 992px) {
  .featured-md-8 {
    padding: 28px 0 28px 15px;
  }
}
.featured-md-4 {
  padding: 0 15px 28px 15px;
}
@media (min-width: 992px) {
  .featured-md-4 {
    padding: 28px 15px 28px 0;
  }
}
html {
  min-height: 100%;
  position: relative;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 42px;
}
a {
  background: none;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
a:focus,
a:hover,
a:visited {
  text-decoration: none;
}
h2 {
  color: #433f4a;
  font-size: 26px;
  font-weight: 600;
}
@media (min-width: 768px) {
  h2 {
    font-size: 30px;
  }
}
.navbar {
  background-color: #fff;
  border: 0;
  border-radius: 0;
  margin: 0;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.07), 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.navbar .navbar-header {
  display: inline-block;
  padding: 14px 15px;
}
.navbar .navbar-right {
  padding: 5px 15px;
}
.navbar .navbar-right li a {
  color: #6441a4;
}
.navbar .navbar-right li a:hover {
  color: #433f4a;
}
.navbar .navbar-right .navbar-divider {
  display: block;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  width: 0;
  height: 20px;
  margin: 15px 1rem;
}
.navbar .dropdown {
  padding: 18px 15px 15px 15px;
}
.navbar .dropdown .dropdown-menu {
  margin: -50px 10px 0 0;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.navbar .dropdown .divider {
  margin: 5px 0;
}
.navbar .dropdown a {
  color: #6441a4;
  padding: 5px 10px;
}
.navbar .dropdown a:hover {
  color: #433f4a;
  background-color: #fff;
}
.navbar .dropdown a .fa-ellipsis-v {
  color: #6441a4;
  font-size: 26px;
}
.featured {
  background-color: #17141f;
  background-image: url('img/twitch_backgroundart.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1600px) {
  .featured {
    background-size: initial;
  }
}
.featured a {
  color: #b19dd8;
}
.featured #fcc-preview {
  margin: 0 auto;
  max-width: 640px;
  position: relative;
}
.featured #fcc-preview .overlay {
  background-color: rgba(23, 20, 31, 0.49804);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
.featured #fcc-preview .overlay:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.featured #fcc-preview .overlay i {
  color: #f5f5f5;
  font-size: 40px;
  vertical-align: middle;
}
.featured #fcc-preview .overlay i:hover {
  color: #b19dd8;
}
@media (min-width: 768px) {
  .featured #fcc-preview .overlay i {
    font-size: 60px;
  }
}
.featured #fcc-preview h5 {
  color: #f5f5f5;
  margin: 15px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
}
.featured #fcc-preview h5 i {
  color: red;
}
.featured .fcc-info {
  background-color: rgba(23, 20, 31, 0.49804);
  color: #fff;
  height: auto;
  margin: 0 auto;
  max-width: 640px;
  padding: 15px 15px 0 15px;
}
@media (min-width: 992px) {
  .featured .fcc-info {
    height: 355.297px;
    padding: 15px;
  }
}
.featured .fcc-info #fcc-profile {
  color: #fff;
}
.featured .fcc-info #fcc-profile img {
  float: left;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.featured .fcc-info #fcc-profile h4 {
  margin-top: 0;
  margin-bottom: 0.25rem;
}
.featured .fcc-info #fcc-bio {
  color: #a49fad;
}
.featured .fcc-info #fcc-bio p {
  margin: 15px 0 0 0;
}
@media (min-width: 992px) {
  .featured .fcc-info #fcc-bio p {
    margin: 28px 0 0 0;
  }
}
.channels {
  padding: 28px 0;
}
.live-channels {
  display: none;
}
.offline-channels {
  display: none;
}
.channel {
  padding: 15px;
}
.channel img {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}
.channel .channel-info {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}
.channel .channel-info h4 {
  color: #433f4a;
  margin: 10px 0 5px 0;
}
.channel .channel-info h5 {
  color: #706a7c;
  margin: 5px 0 10px 0;
}
footer {
  background-color: #19171c;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  height: 42px;
  position: absolute;
  width: 100%;
}
footer a {
  color: #c5c0cb;
  line-height: 42px;
  position: relative;
  top: 2px;
}
footer a:hover,
footer a:focus {
  color: #c5c0cb;
  text-decoration: none;
}
footer a .fa-lg {
  vertical-align: text-top;
  margin-right: 4px;
}
