@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:300,500');
@-webkit-keyframes blink {
  0% {
    opacity: 0.6;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes blink {
  0% {
    opacity: 0.6;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
::-moz-selection {
  background: transparent;
}
::selection {
  background: transparent;
}
html,
body {
  background-color: #eceff1;
  height: 100%;
}
a:focus,
a:hover,
a:visited {
  text-decoration: none;
}
.container {
  background-color: #eceff1;
  padding-top: calc(50vh - 285px);
}
.col-xs-12 {
  padding: 0;
}
.card {
  background-clip: padding-box;
  border-radius: 2px 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 8px auto 16px;
  max-width: 520px;
}
.card-current {
  background-color: #009688;
  color: #fff;
  padding: 16px;
}
.card-current #location span {
  -webkit-animation-name: blink;
  animation-name: blink;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  font-size: 32px;
}
.card-current #location span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.card-current #location span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.card-current #time,
.card-current #summary {
  color: rgba(255, 255, 255, 0.8);
  margin: 5px 0;
}
.card-current .temp {
  display: inline-block;
  padding: 10% 0;
}
.card-current .temp #temperature {
  display: inline-block;
  font-size: 64px;
  line-height: 56px;
  vertical-align: middle;
}
@media (min-width: 375px) {
  .card-current .temp #temperature {
    font-size: 72px;
    line-height: 60px;
  }
}
.card-current .temp #unit1,
.card-current .temp #unit2 {
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
}
.card-current .temp #unit1 {
  font-weight: 600;
  padding-left: 6px;
}
.card-current .temp #unit2 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  padding-left: 4px;
}
.card-current .temp #unit2:hover {
  cursor: pointer;
  text-decoration: none;
}
.card-current #icon {
  display: inline-block;
  font-size: 96px;
  padding-left: 8%;
}
@media (min-width: 375px) {
  .card-current #icon {
    font-size: 112px;
    padding-left: 16%;
  }
}
@media (min-width: 520px) {
  .card-current #icon {
    font-size: 120px;
    padding-left: 24%;
  }
}
.card-current .precip {
  font-size: 15px;
}
.card-current .precip .precip-icon {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}
.card-current .precip #precipitation {
  display: inline-block;
  padding-left: 16px;
}
.card-current .wind {
  font-size: 15px;
}
.card-current .wind .wind-icon {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}
.card-current .wind #windspeed {
  display: inline-block;
  padding-left: 16px;
}
#daybyday {
  background-color: #fff;
  padding: 16px;
  text-align: center;
}
#daybyday #carousel {
  color: #212121;
  font-size: 15px;
}
#daybyday #carousel div i {
  color: #424242;
  font-size: 20px;
}
#daybyday #carousel .tempMax p {
  margin: 10px 0 0 0;
  display: inline-block;
}
#daybyday #carousel .tempMax span {
  display: inline-block;
}
#daybyday #carousel .tempMin p {
  color: #757575;
  display: inline-block;
  margin: 0;
}
#daybyday #carousel .tempMin span {
  color: #757575;
  display: inline-block;
}
#footer {
  background-color: #fff;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  border-radius: 0 0 2px 2px;
  padding: 16px;
  line-height: 20px;
  text-align: center;
}
#footer a {
  color: #9e9e9e;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
#footer a:hover {
  text-decoration: none;
}
#footer a .fa-lg {
  vertical-align: text-top;
  margin-right: 4px;
}
#footer .bomholt {
  font-weight: 500;
}
